---
import AppLayout from '../layout/AppLayout.astro';
---

<script>
  import * as authApi from '../api/auth';

  const currentUrl = new URL(window.location.href);

  const $form = document.querySelector('form')!;

  $form.addEventListener('submit', async (e) => {
    e.preventDefault();
    const password = $form.password.value;
    await authApi.resetPassword(currentUrl.search, password);
  });
</script>
<AppLayout>
  <section class="container">
    <h1>Ingresa tu nueva contraseña</h1>
    <form action="">
      <div class="field">
        <label for="password">Nueva contraseña</label>
        <input type="password" name="password" />
      </div>
      <button class="btn">Enviar</button>
    </form>
  </section>
</AppLayout>
