---
import AppLayout from '../layout/AppLayout.astro';
---

<script>
  import * as authApi from '../api/auth';
  import * as authStore from '../store/auth';

  const currentUrl = new URL(location.href);
  const $message = document.querySelector('.message')!;

  const resp = await authApi.verifyEmail(currentUrl.search, authStore.$state.get()?.token!);

  if (resp.ok) {
    $message.textContent = resp.message;
  } else {
    $message.textContent = resp.message;
  }
</script>
<AppLayout>
  <section class="container">
    <p class="message">Validando...</p>
  </section>
</AppLayout>
